In [25]:
import os
import numpy as np
import pandas as pd


def gen_random_data(row, col):
    labels = [("label " + str(i) ) for i in range(1, c+1)]
    new_list = []
    for row in (np.random.randn(r, c) * 10):
        n_dict = {}
        for i, col in enumerate(row):
            n_dict[label[i]] = int(col)
        new_list.append(n_dict)
    
    return pd.DataFrame(new_list)

gen_random_data(2, 1)

   label-1  label-2  label-3  label-4
0        5       13        3        8
1       -7       13        0        2
2       -7       -4        2       15
3        0       -9      -19        1
4       -3       -4      -11        7