## Tasks
- list data size, how many row and columns
- list all columns
- slice partial dataframe with loc or iloc

In [76]:
import os
import numpy as np
import pandas as pd

In [74]:
# 設定 data_path
dir_data = './data/'

In [75]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

def get_data_size(data):
    (row, col) = data.shape
    print(f"row: {row}, column: {col}")
    return data.shape

def print_all_columns(data):
    for column in data:
        print(data[column])
# loc is extract with column label
# use iloc
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc
"""
iloc allowed inputs:
1. An integer, e.g. 5.  (Indexing just the rows) 
   df.iloc[n] => get nth row data of df
2. A list or array of integers, e.g. [4, 3, 0]. 
   elements in first list refer to the nth row, element in second list refer to the nth column
   df.iloc[first_list, second_list]
3. A slice object with ints, e.g. 1:7.
   just like normal list slice.
   df.iloc(row_slice, col_slice)
4. A boolean array (the same length as the index)
5. A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above). This is useful in method chains, when you don’t have a reference to the calling object, but would like to base your selection on some value.
"""

def get_data_range(row_range, col_range, data):
    (r_start, r_end) = row_range
    (c_start, c_end) = col_range
    return data.iloc[r_start:r_end, c_start:c_end]
    
        
get_data_size(app_train)
get_data_range((0, 5), (0, 5), app_train)

Path of read in data: ./data/application_train.csv
row: 307511, column: 122

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N